<%= render 'layouts/navbar' %>

<h1>Editando Edificio</h1>

<%= render 'form', edificio: @edificio %>

<%= link_to 'Mostrar', @edificio %> |
<%= link_to 'Atrás', edificios_path %>

<%= render 'layouts/footer' %>

