<%= render 'layouts/navbar' %>
<div class='container'>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre de edificio:</strong>
    <%= @edificio.nombre_de_edificio %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= @edificio.direccion %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= @edificio.ciudad %>
  </p>

  <%= link_to 'Editar', edit_edificio_path(@edificio) %> |
  <%= link_to 'Atrás', edificios_path %>
</div>
<%= render 'layouts/footer' %>